@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media print {
    html,
    body {
        display: none; /* hide whole page */
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
}
body::-webkit-scrollbar {
    display: none;
}
.zoom img {
    cursor: pointer;
}
.page-info img {
    cursor: pointer;
}
.pdf-height {
    height: 850px !important;
    background-color: #333;
    overflow-y: scroll;
}
.pdf-preview {
    overflow-y: hidden;
}
.pdf-preview::-webkit-scrollbar {
    display: none;
}

#pdf-fullscreen {
    cursor: pointer;
}

#zoom-in,
#zoom-out {
    cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus {
    outline: 2px solid #ffffff;
    border-radius: 3px;
}

#ebook .col-12 {
    height: max-content !important;
}

@media only screen and (max-width: 576px) {
    #ebook {
        width: 100%;
    }

    #ebook .col-12 {
        border-radius: 0px !important;
        height: max-content !important;
    }

    .pdf-preview {
        height: max-content;
    }
    /* .pdf-render {
        margin-left: 0px !important;
        width: 120%;
    } */
    .tools {
        padding: 10px 25px !important;
    }
    .page-info span,
    .page-info img,
    .page-info input {
        width: 20px !important;
        height: 20px !important;
        font-size: 12px !important;
    }
    .zoom {
        align-items: center;
        padding-bottom: 0.5rem !important;
        gap: 0.5rem !important;
        flex-direction: row;
    }
    .zoom img {
        width: 25px;
        height: 25px;
        margin-left: 0px !important;
        margin-top: 10px;
    }
    #pdf-fullscreen {
        width: 25px;
    }
    canvas {
        transition: transform 0.2s ease;
    }
    .pdf-height {
    height: 90vh !important; 
    background-color: #333;
    overflow: auto;
    }

}
