@import url('color.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif !important;
}


html {
    scroll-behavior: smooth;
}

html::-ms-overflow-style {
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}



/* button */
a.btn-warning{
    color: white;
    background-color: var(--color-orange);
    transition: all 0.3s ease;
    border: none;
    font-weight: 700;
}
a.btn-warning:hover{
    color: white;
    background-color: var(--color-orange-hover);
}
a.btn-warning:active {
    color: white !important;
    background-color: var(--color-orange-hover) !important;
    transition: background-color 0s;
}


a.btn-primary{
    color: white;
    background-color: var(--color-blue);
    transition: all 0.3s ease;
    border: none;
    font-weight: 700;
}
a.btn-primary:hover{
    color: white;
    background-color: var(--color-blue-hover);
}
a.btn-primary:active {
    color: white !important;
    background-color: var(--color-blue-hover) !important;
    transition: background-color 0s;
}
a.btn-light{
    color: var(--color-orange);
    background-color: #ffff;
    transition: all 0.3s ease;
    border: none;
    font-weight: 700;
}
a.btn-light:hover{
    background-color: var(--color-light-hover);
    color: var(--color-orange);
}
a.btn-light:active {
    color: var(--color-orange) !important;
    background-color: var(--color-light-hover) !important;
    transition: background-color 0s;
}


h1{
    color: var(--head-title);
}
p{
    color: var(--sub-title);
}

#section-hero-img {
    padding: 2rem 3rem;
    margin-top: 6rem;
}
#section-hero-img img {
    max-width: 100%;
    height: auto; 
}
/* end style section 1 */



/* sesion 2 */
#section-pilih-kelas {
    background-color: var(--color-orange);
    padding: 0 2.5rem;
    padding-bottom: 60px !important;
}

#section-pilih-kelas .container-fluid .title-pilih-kelas .title-group h1,
#section-pilih-kelas .container-fluid .title-pilih-kelas .title-group p {
    color: white;
    line-height: 1.3;
}

#section-pilih-kelas .container-fluid .title-pilih-kelas a {
    font-size: 16px;
    background-color: white;
    color: var(--color-orange);
    padding: 10px 24px;
}
#section-pilih-kelas .container-fluid .title-pilih-kelas a:hover {
    background-color: var(--color-light-hover);
}

#section-pilih-kelas .card {
    width: 25rem;
    padding: 0px !important;
    border-radius: 14px;
    height: max-content;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#section-pilih-kelas .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#section-pilih-kelas .card img {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    object-fit: cover;
    width: 100%;
    height: 250px;
}
#section-pilih-kelas .title-card h5 {
    font-size: 17px;
    color: var(--head-title);
}


#section-pilih-kelas .title-card img {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    object-fit: cover;
}

#section-pilih-kelas .btn-group-harga .btn-primary {
    background-color: var(--color-orange);
    color: white;
    outline: none;
    border: none;
    box-shadow: none;
    font-weight: 600;
  }
  
#section-pilih-kelas .harga p:last-child {
color: var(--color-grey);
}
#section-pilih-kelas .paket {
    color: var(--color-orange);
    display: flex;
    font-size: small;
    font-weight: 600;
  }
#section-pilih-kelas .paket-item {
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
    padding: 3px 7px;
    margin: 0 5px 5px 0;
    border-radius: 6px;
  }

#section-pilih-kelas .truncate-text {
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 3em;
    text-overflow: ellipsis;
    transition: max-height 0.3s ease, -webkit-line-clamp 0.3s ease;
}

#section-pilih-kelas .card:hover .truncate-text {
    -webkit-line-clamp: unset;
    max-height: none;
}

#section-pilih-kelas .truncate-text.expanded {
    white-space: normal;
    -webkit-line-clamp: unset;
    max-height: none;
}

/* style section-tentang-nemolab */
#section-tentang-nemolab {
    padding: 60px 1rem;
}
#section-tentang-nemolab a.btn-light{
    color: #414142;
    background-color: #F0EAFF;
    transition: all 0.3s;
}
#section-tentang-nemolab a.btn-light:hover{
    background-color: var(--color-light-hover);
}
#section-tentang-nemolab a.btn-light:active{
    color: #414142 !important;
    background-color: var(--color-light-hover) !important;
}
#service {
    border-radius: 15px;
    background-color: var(--hero-bg);
    display: flex;
    flex-direction: row;
}

#menu-service {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.card-service {
    background-color: white;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-service h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--color-grey);
}

.card-service .btn {
    color: white;
    font-size: 14px;
    border-radius: 5px;
}
/* end style section-tentang-nemolab */



#section-benefit-kelas {
    padding: 10px 1rem;
}


.check-active-group {
    text-align: left;
    /* Keep text left-aligned for check-active items */
}

.check-active-group .check-active p {
    font-weight: 600;
    color: var(--color-grey);
}

.benefit-images {
    gap: 50px;
}

.grid-images {
    display: flex;
    flex-wrap: wrap;
}

.grid-images .grid-img {
    width: 190px;
    margin: 6px;
    max-width: 100%;
    height: auto;
}

/* style section 5 */
#section-testimoni-kelas {
    padding: 80px 1rem;
}

#section-testimoni-kelas .container-fluid .testimoni-title {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#section-testimoni-kelas .container-fluid .testimoni-title h1 {
    text-align: center;
}

#section-testimoni-kelas .container-fluid .testimoni-title p {
    font-size: 15px;
    text-align: center;
}

#section-testimoni-kelas .container-fluid .row {
    height: 500px;
    overflow: hidden;
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card {
    width: 20rem;
    border: none;
    border-radius: 13px;
    background-color: var(--light-shade);
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card .card-body .name h5 {
    font-size: 16px;
    color: var(--color-grey);
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card .card-body .name p {
    font-size: 14px;
    color: var(--shade-gray);
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card .card-body p {
    font-size: 14px;
    color: var(--color-gray);
}


.scroll-up {
    animation: scroll-down 10s linear infinite;
}

.scroll-down {
    animation: scroll-up 10s linear infinite;
}

@keyframes scroll-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes scroll-down {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

/* end style section 5 */


/* section 6 */
#section-pusat-bantuan {
    padding: 100px 1rem;
    background-color: var(--color-orange);
}

#section-pusat-bantuan h1 {
    color: white;
}

#section-pusat-bantuan p {
    font-size: 18px;
    color: white;
}
#section-pusat-bantuan img{
    width: 100%;
    height: auto;
}

/* end section 6 */


.order-center {
    display: flex !important;
    justify-content: center;
}


/* Responsive Design */
@media (max-width: 768px) {
    .row {
        margin: 0 !important;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    #section-hero-img {
        padding: 60px 1rem;
        height: max-content;
        margin-top: 60px;
    }

    #section-pilih-kelas .container-fluid .title-pilih-kelas .title-group h1,
    #section-pilih-kelas .container-fluid .title-pilih-kelas .title-group p {
        margin-left: 12px;
    }

    #section-pilih-kelas {
        background-color: var(--color-orange);
        padding: 0rem;
    }

    #section-pilih-kelas .content-kelas .btn-light{
        font-size: 16px;
        padding: 10px 24px;
    }

    #section-pilih-kelas .filter-head {
        font-size: 17px;
    }

    #section-pilih-kelas .card .card-img-top {
        margin-top: 4px;
        object-fit: fill;
        height: 57px;
        width: 80px;
        border-radius: 7px;
    }

    #section-pilih-kelas .card-body,
    .card-head {
        padding: 10px;
    }

    #section-pilih-kelas .card-body {
        position: relative;
    }

    #section-pilih-kelas .title-card h5 {
        font-size: 14px;
        margin-bottom: 2px;
        max-width: 200px;
    }

    #section-pilih-kelas .title-card img {
        width: 25px;
        height: 25px;
        margin-bottom: 1px;
    }

    #section-pilih-kelas .card .avatar p{
        font-size: 10px;
        font-weight: 700;
        color: var(--sub-title);
    }

    #section-pilih-kelas .btn-group-harga .btn-warning {
        background-color: var(--color-orange);
        font-size: 10px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    #section-pilih-kelas .harga {
        font-size: 12px;
    }

    #section-pilih-kelas .paket-item {
        color: var(--color-orange);
        font-size: 9px;
    }
}


@media (max-width: 1024px) {
    #section-benefit-kelas .col-md-6.text-center {
        text-align: center;
    }

    #section-benefit-kelas .check-active-group {
        display: flex;
        flex-direction: column;
    }

    .grid-images .grid-img {
        width: calc(50% - 12px);
        margin: 6px;
    }
}