@import url('color.css');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif !important;
}

body
{
    overflow-x: hidden;
    background: linear-gradient(175deg, #f8eaff 12%, #ffffff 20%);
}

html
{
    scroll-behavior: smooth;
}

html::-ms-overflow-style
{
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar
{
    display: none;
}

/* button */
a.btn-warning
{
    color: white;
    background-color: var(--color-orange);
    transition: all 0.3s ease;
    border: none;
    font-weight: 700;
}

a.btn-warning:hover
{
    color: white;
    background-color: var(--color-orange-hover);
}

a.btn-warning:active
{
    color: white !important;
    background-color: var(--color-orange-hover) !important;
    transition: background-color 0s;
}

a.btn-primary
{
    color: white;
    background-color: var(--color-blue);
    transition: all 0.3s ease;
    border: none;
    font-weight: 700;
}

a.btn-primary:hover
{
    color: white;
    background-color: var(--color-blue-hover);
}

a.btn-primary:active
{
    color: white !important;
    background-color: var(--color-blue-hover) !important;
    transition: background-color 0s;
}

a.btn-light
{
    color: var(--color-orange);
    background-color: #ffff;
    transition: all 0.3s ease;
    border: none;
    font-weight: 700;
}

a.btn-light:hover
{
    background-color: var(--color-light-hover);
    color: var(--color-orange);
}

a.btn-light:active
{
    color: var(--color-orange) !important;
    background-color: var(--color-light-hover) !important;
    transition: background-color 0s;
}

a.btn-secondary
{
    background-color: var(--head-title);
}

a.btn-secondary:hover
{
    color: #ffff;
}

a.btn-secondary:active
{
    color: #ffff !important;
    background-color: var(--head-title) !important;
    transition: background-color 0s;
}

h1
{
    color: var(--head-title);
    font-weight: 600 !important;
    line-height: 1.3;
    font-size: 2rem;
}

p
{
    font-family: "Nunito", sans-serif !important;
    color: var(--sub-title);
    font-weight: 600 !important;
    font-size: 1rem;
}

#section-hero-img
{
    padding: 2rem 3rem;
    height: 100svh;
}

#section-hero-img h1
{
    /* font-size: minmax(1.5rem, 2.5svw); */
}

#section-hero-img .paragraph
{
    width: 90%;
}

#section-hero-img p
{
    word-spacing: .25rem;
}

#section-hero-img .row
{
    align-items: top;

}

#section-hero-img .circle1
{
    position: absolute;
    transform: translate(-4%, -38%);
    height: 70svw;
    width: 70svw;
    background-color: #ebe6fb;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

#section-hero-img .circle2
{
    position: absolute;
    transform: translate(-3%, -45%);
    height: 60svw;
    width: 60svw;
    background: linear-gradient(to right, #FAA907, #ffe0a2);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

#section-hero-img .circle3
{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-30%, 50%);
    height: 20svw;
    width: 20svw;
    background: linear-gradient(to bottom, #ff8e01, #ff8e01, #ffffff);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    z-index: 1;

    div
    {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

#section-hero-img .dots
{
    position: absolute;
    top: 0;
    left: 40%;
    height: 90%;
    width: auto;
}

#section-hero-img .dots2
{
    position: absolute;
    transform: translate(67%, 15%);
    /* z-index: 5; */
    scale: 1.5;
}

#section-hero-img .image-wrapper
{
    position: relative;
    right: 0;
    width: 90%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

#section-hero-img .image-wrapper img
{
    width: 100%;
    height: auto;
    display: block;
}

#section-hero-img .image-wrapper .main-image
{
    transition: transform 0.3s ease-in-out;
}

#section-hero-img .image-wrapper .image-overlay1,
#section-hero-img .image-wrapper .image-overlay2,
#section-hero-img .image-wrapper .dot
{
    position: absolute;
    top: 0;
    width: auto;
    height: auto;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}

#section-hero-img .image-wrapper .image-overlay1
{
    top: -11%;
    left: 10%;
    width: 30%;
}

#section-hero-img .image-wrapper .image-overlay2
{
    right: 0;
    width: 30%;
}

#section-hero-img .image-wrapper .dot
{
    top: -1%;
    right: -20%;
    width: 50%;
}

/* hover trigger semua */
#section-hero-img .main-image:hover
{
    transform: scale(1.05);
}

#section-hero-img .main-image:hover~.image-overlay1
{
    transform: rotate(-3deg) translateX(-10px);
}

#section-hero-img .main-image:hover~.image-overlay2
{
    transform: rotate(5deg) translateX(10px);
}

#section-hero-img .main-image:hover~.dot
{
    transform: translateX(10px);
}

#section-hero-img .image-wrapper:hover .circle1
{
    transform: translate(-3%, -38%) !important;
}

#section-hero-img .image-wrapper:hover .circle2
{
    transform: translate(-5%, -44%) !important;
}

/* hover overlay */
#section-hero-img .image-wrapper .image-overlay1:hover
{
    transform: scale(1.05) rotate(-4deg);
}

#section-hero-img .image-wrapper .image-overlay2:hover
{
    transform: scale(1.05) rotate(6deg);
}

/* gambar utama balik pas hover overlay */
#section-hero-img .image-wrapper .image-overlay1:hover~.main-image,
#section-hero-img .image-wrapper .image-overlay2:hover~.main-image
{
    transform: none;
}


/* end style section 1 */

/* section 2 */
.courses-wrapper
{
    width: 100%;
    overflow: hidden;
    display: flex;
    /* Change from overflow-x: auto */
    padding: 20px;
    gap: 20px;
    border-radius: 1rem;
    position: relative;
    background: rgb(255, 255, 255);
}

.courses-scroll
{
    display: flex;
    gap: 20px;
    padding: 12px 20px 12px 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* Hide scrollbar IE and Edge */
    scrollbar-width: none;
    /* Hide scrollbar Firefox */
}

/* .courses-wrapper::after
{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    pointer-events: none;
} */

.scroll-course
{
    min-width: 2rem;
    background: none;
    border: none;
}

.courses-scroll::-webkit-scrollbar
{
    display: none;
}


.course-card
{
    max-width: 20rem;
    flex-shrink: 0;
}

.course-card .card
{
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-card .card-img-top
{
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.course-card .avatar img
{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.truncate-text
{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#section-pilih-kelas
{
    padding: 0 2.5rem;
    padding-bottom: 60px !important;
}

#section-pilih-kelas .container-fluid .title-pilih-kelas .title-group h1
{
    font-weight: 800 !important;
    line-height: 1.3;
}

#section-pilih-kelas .container-fluid .title-pilih-kelas .title-group p
{
    font-weight: 600 !important;
    font-size: large;
}

#section-pilih-kelas .course-card
{
    border-radius: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#section-pilih-kelas .card
{
    box-shadow: 1px 0 5px rgba(190, 190, 190, 0.189) inset, -1px 0 5px rgba(190, 190, 190, 0.189) inset;
    aspect-ratio: 5 / 6;
    width: 20rem;
    border-radius: 14px;
    border: none;
    /* height: max-content; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#section-pilih-kelas .card .card-body
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#section-pilih-kelas .course-card:hover
{
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#section-pilih-kelas .card>img
{
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    object-fit: cover;
    padding: 2px;
    /* width: 100%;
    height: 250px; */
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
    box-shadow: 0 5px 5px rgba(190, 190, 190, 0.189);
}

#section-pilih-kelas .title-card
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#section-pilih-kelas .title-card a
{
    flex-grow: 1;
}

#section-pilih-kelas a
{
    /* flex-grow: 1; */
    text-decoration: none !important;
}

#section-pilih-kelas .title-card h5
{
    font-size: 18px;
    font-weight: 800;
    color: var(--head-title);
}

#section-pilih-kelas .title-card p
{
    /* flex-grow: 1; */
    margin: 0;
    font-weight: 600;
    font-size: 16px;

    img
    {
        width: 1.75rem;
        height: 1.75rem;
    }
}


#section-pilih-kelas .title-card img
{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    object-fit: cover;
}

#section-pilih-kelas .btn-group-harga .btn-primary
{
    background-color: var(--color-orange);
    color: white;
    outline: none;
    border: none;
    box-shadow: none;
    font-weight: 600;
}

#section-pilih-kelas .harga p:last-child
{
    color: var(--color-grey);
}

#section-pilih-kelas .paket
{
    color: var(--color-orange);
    display: flex;
    font-size: small;
    font-weight: 600;
}

#section-pilih-kelas .paket-item
{
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
    padding: 3px 7px;
    margin: 0 5px 5px 0;
    border-radius: 6px;
}

#section-pilih-kelas .paket-item:hover
{
    color: var(--color-orange-hover);
    border: 1px solid var(--color-orange-hover);
    padding: 3px 7px;
    margin: 0 5px 5px 0;
    border-radius: 6px;
}

#section-pilih-kelas .truncate-text
{
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 3em;
    text-overflow: ellipsis;
    transition: max-height 0.3s ease, -webkit-line-clamp 0.3s ease;
}

#section-pilih-kelas .card:hover .truncate-text
{
    -webkit-line-clamp: unset;
    max-height: none;
}

#section-pilih-kelas .truncate-text.expanded
{
    white-space: normal;
    -webkit-line-clamp: unset;
    max-height: none;
}

#section-pilih-kelas .flex-column>a
{
    border: solid 2px var(--color-orange);
    width: max-content;
}

#section-pilih-kelas .flex-column>a:hover
{
    border: solid 2px var(--color-orange-hover);
    width: max-content;
    color: var(--color-orange-hover);
    background: none;
}

/* style section-tentang-nemolab */
#section-tentang-nemolab
{
    padding: 60px 1rem;
}

#section-tentang-nemolab a.btn-light
{
    color: #414142;
    background-color: #F0EAFF;
    transition: all 0.3s;
    font-size: 15px;
}

/* #section-tentang-nemolab a.btn-secondary {
    font-size: 13px;
}
#section-tentang-nemolab  a.btn-primary{
    font-size: 13px;
}
#section-tentang-nemolab  a.btn-warning{
    font-size: 15px;
}
#section-tentang-nemolab a.btn-warning{
    font-size: 13px;
} */
#section-tentang-nemolab a.btn-light:hover
{
    background-color: var(--color-light-hover);
}

#section-tentang-nemolab a.btn-light:active
{
    color: #414142 !important;
    background-color: var(--color-light-hover) !important;
}

#service
{
    border-radius: 15px;
    background-color: var(--hero-bg);
    flex-direction: row;
    max-width: max-content;
}

.card-service
{
    height: 90px;
    width: 142px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-service h4
{
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--color-grey);
}

.card-service .btn
{
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

/* end style section-tentang-nemolab */

/* style section 4 */

#section-benefit-kelas
{
    padding: 10px 1rem;
}

.check-active-group
{
    text-align: left;
    /* Keep text left-aligned for check-active items */
}

.check-active-group .check-active p
{
    font-weight: 600 !important;
    font-size: large;
}

.image
{
    min-width: 50%;
}

.benefit-images
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.person-image
{
    display: none;
}

.grid-images
{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    gap: 8px;
}

@media screen and (max-width: 900px)
{
    .person-image
    {
        display: block;
    }

    .grid-images
    {
        display: none;
    }
}

.grid-images .grid-img
{
    min-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: 100%;
}

/* end section 4 */

/* style section 5 */
#section-testimoni-kelas
{
    padding: 80px 1rem;
}

#section-testimoni-kelas .container-fluid .testimoni-title
{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#section-testimoni-kelas .container-fluid .testimoni-title h1
{
    text-align: center;
}

#section-testimoni-kelas .container-fluid .testimoni-title p
{
    font-size: 15px;
    text-align: center;
}

#section-testimoni-kelas .container-fluid .row
{
    height: 500px;
    overflow: hidden;
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card
{
    width: max-content;
    border: none;
    border-radius: 13px;
    background-color: #fde7c2;
    transition: box-shadow 0.3s ease;
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card:hover
{
    box-shadow: inset 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card .card-body .name h5
{
    font-size: 16px;
    color: var(--color-grey);
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card .card-body .name p
{
    font-size: 14px;
    color: var(--shade-gray);
}

#section-testimoni-kelas .container-fluid .row .col-md-4 .card .card-body p
{
    font-size: 14px;
    color: var(--color-gray);
}


.scroll-up
{
    animation: scroll-back-and-forth 15s linear infinite;
}

/* Keyframes untuk animasi bolak-balik */
@keyframes scroll-back-and-forth
{
    0%
    {
        transform: translateY(5%);
    }

    50%
    {
        transform: translateY(-60%);
        /* Ubah nilai ini sesuai kebutuhan */
    }

    100%
    {
        transform: translateY(5%);
    }
}

.scroll-down
{
    animation: scroll-forth-and-back 15s linear infinite;
}

@keyframes scroll-forth-and-back
{
    0%
    {
        transform: translateY(-60%);
    }

    50%
    {
        transform: translateY(5%);
        /* Ubah nilai ini sesuai kebutuhan */
    }

    100%
    {
        transform: translateY(-60%);
    }
}

.scroll-up:hover
{
    animation-play-state: paused;
}

.scroll-down:hover
{
    animation-play-state: paused;
}

@keyframes scroll-up
{
    0%
    {
        transform: translateY(0);
    }

    100%
    {
        transform: translateY(-50%);
    }
}

@keyframes scroll-down
{
    0%
    {
        transform: translateY(-50%);
    }

    100%
    {
        transform: translateY(0);
    }
}

/* end style section 5 */


/* section 6 */
#section-pusat-bantuan
{
    padding: 100px 1rem;
    background-color: var(--color-orange);
}

#section-pusat-bantuan h1
{
    color: white;
}

#section-pusat-bantuan p
{
    font-size: 18px;
    color: white;
}

#section-pusat-bantuan img
{
    width: 100%;
    height: auto;
}

/* end section 6 */


.order-center
{
    display: flex !important;
    justify-content: center;
}


/* Responsive Design */
@media (max-width: 768px)
{
    .row
    {
        margin: 0 !important;
    }

    h1
    {
        font-size: 24px;
    }

    p
    {
        font-size: 16px;
    }

    #section-hero-img
    {
        padding: 60px 1rem;
        height: max-content;
        margin-top: 60px;
    }

    #section-pilih-kelas .container-fluid .title-pilih-kelas .title-group h1,
    #section-pilih-kelas .container-fluid .title-pilih-kelas .title-group p
    {
        margin-left: 12px;
        /* color: #ffff; */
    }

    #section-pilih-kelas
    {
        padding: 0rem;
    }

    #section-pilih-kelas .content-kelas .btn-light
    {
        font-size: 16px;
        padding: 10px 24px;
    }

    #section-pilih-kelas .filter-head
    {
        font-size: 17px;
    }

    #section-pilih-kelas .course-card
    {
        min-width: 100%;
        max-width: 100%;
    }

    #section-pilih-kelas .card
    {
        width: 100%;
    }

    /* #section-pilih-kelas .card .card-img-top {
        margin-top: 4px;
        object-fit: cover;
        height: 57px;
        width: 80px;
        border-radius: 7px;
    }

    #section-pilih-kelas .card-body,
    .card-head {
        padding: 10px;
    }

    #section-pilih-kelas .card-body {
        position: relative;
    }

    #section-pilih-kelas .title-card h5 {
        font-size: 14px;
        margin-bottom: 2px;
        max-width: 200px;
    }

    #section-pilih-kelas .title-card img {
        width: 25px;
        height: 25px;
        margin-bottom: 1px;
    }

    #section-pilih-kelas .card .avatar p {
        font-size: 10px;
        font-weight: 700;
        color: var(--sub-title);
    }

    #section-pilih-kelas .btn-group-harga .btn-warning {
        background-color: var(--color-orange);
        font-size: 10px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    #section-pilih-kelas .harga {
        font-size: 12px;
    }

    #section-pilih-kelas .paket-item {
        color: var(--color-orange);
        font-size: 9px;
    } */
}


@media (max-width: 1024px)
{
    #section-benefit-kelas .col-md-6.text-center
    {
        text-align: center;
    }

    #section-benefit-kelas .check-active-group
    {
        display: flex;
        flex-direction: column;
    }
}